{% load staticfiles %}
{% load generaattori_extras %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" />
  <style type="text/css">
    div.tab-pane {
      padding: 1em;
    }
  </style>
</head>
<body>
<div class="container">
<h1>Lausunto Järkeä tekijänoikeuslakiin -aloitteesta</h1>
<p class="lead">Sivistysvaliokunta on pyytänyt <a href="https://www.kansalaisaloite.fi/fi/aloite/70">Järkeä tekijänoikeuslakiin -aloitteesta</a> uudet lausunnot 19.9.2014 mennessä. </p>
<form action="" method="post">{% csrf_token %}
  <div class="form-group">
{{ form.organisation.label_tag}}
{{ form.organisation}}
  </div>

  <div class="form-group">
{{ form.name.label_tag}}
{{ form.name }}
  </div>

  <div class="form-group">
{{ form.occupation.label_tag}}
{{ form.occupation }}
  </div>

  <div class="form-group">
{{ form.address.label_tag}}
{{ form.address }}
  </div>

  <div class="form-group">
{{ form.city.label_tag}}
{{ form.city}}
  </div>

 <h2>Pykälämuutokset</h2>

 <p>Käy läpi kukin pykälämuutos ja merkitse jokaisen kohdalle, kannatatko sitä. Lisäksi suosittelemme lisäämään omin sanoin perustelun sille, miksi kannatat kyseistä muutosta.</p>

 <div class="tabbable tabs-left">
  <ul class="nav nav-pills">
    {% for item in items %}
     <li><a href="#tab{{ item.id }}"  role="tab" data-toggle="tab">{{ item.subject|safe }}</a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for item in items %}
     <div class="tab-pane" id="tab{{ item.id }}">
      {{ item.text|safe }}
      {{ item.select_field.label_tag }}
      {{ item.select_field }}
      {{ item.notes_field.label_tag }}
      {{ item.notes_field }}
     </div>
    {% endfor %}
  </div>
 </div>

<div class="form-actions">
  <input type="submit" value="Submit" class="btn btn-primary" />
</div>
</form>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
