{% load i18n %}
<html>
<head>
  <title>Lasku</title>
  <style>
    html {
      font-size: 12px;
      font-family: sans-serif;
    }
    h1, dt, th {
      font-weight: bold;
    }
    thead td, thead th {
      border-bottom: 1px solid black;
      margin-bottom: 1em;
    }
    tfoot td, tfoot th {
      border-top: 1px solid black;
      margin-top: 1em;
    }
    th {
      text-align: left;
    }
    table {
      width: 100%;
    }
    table.layout td {
      vertical-align: top;
    }
    div.spacer {
      margin-bottom: 5em;
    }
/*    td.number {
      width: 50px;
    } */
    td.right {
      width: 100px;
    }
/*    table.list td, table.list th {
      border: 1px solid black;
    } */
    table {
      border-collapse: collapse;
    }
    table.layout {
      margin-bottom: 3em;
    }
    table caption {
      font-weight: bold;
      font-size: 130%;
    }
    div.item_content {
      padding-left: 1em;
      border-left: 1px solid black;
    }
  </style>
</head>
<body>
  <h1>Lausunto</h1>
  <p><strong>Lausunnon antaja</strong><br />
    {% if data.organisation %}{{ data.organisation }}<br />{% endif %}
    {{ data.name }}<br />
    {{ data.occupation }}<br />
    {{ data.address }}<br />
    {{ data.city }}</p>
  {% for item in items %}
   {% if item.select_value %}
    <h2>{{ item.subject|safe }}</h2>
    <div class="item_content">
      <strong>Ehdotettu muutos</strong>
      {{ item.text|safe }}
    </div>
    <p class="opinion">Kannatus: <strong>{{ item.select_value }}</strong></p>
    {% if item.notes_value %}
     <p><strong>Perustelut:</strong> {{ item.notes_value }}</p>
    {% endif %}
   {% endif %}
  {% endfor %}
</body>
